body {
  background-color: #330d99;
  color: black;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background: url(images/bg1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 3rem;
  color: rgb(255, 207, 49);
  font-family: 'Permanent Marker', cursive;
}

.header {
  display: flex;
  align-items: center;
}

.timer,
.errors,
.accuracy,
.cpm,
.wpm {
  background-color: #3c63fd;
  height: 60px;
  width: 70px;
  margin: 8px 20px;
  padding: 9px;
  border-radius: 20%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  color: white;
}

.cpm,
.wpm {
  display: none;
}

.header_text {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
}

.curr_time,
.curr_errors,
.curr_accuracy,
.curr_cpm,
.curr_wpm {
  font-size: 2rem;
  padding-top: 5px;
}

.quote {
  background-color: #3c63fd;
  color: white;
  font-size: 1.2rem;
  margin: 40px 10px 10px 10px;
  width: 40%;
  padding: 25px 0px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.input_area {
  background-color: rgb(203, 213, 255);
  height: 80px;
  width: 40%;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 15px;
  padding: 20px;

  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.incorrect_char {
  color: red;
  text-decoration: underline;
}

.correct_char {
  color: darkgreen;
}

.restart_btn {
  margin-top: 20px;
  display: none;
  background-color: #3c63fd;
  font-size: 1.2rem;
  padding: 15px 30px;
  border: 0px;
  color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}
